$component-width: 100%;
$component-bg-color: #f5f5f5;
$components-header-border-color: #d3d3d3;
$margin-container: 1em auto 0 auto;

$error-color: #ff3d71;
$warning-color: #ffaa00;
$success-color: #00d68f;
$primary-color: #36f;
$info-color: #42aaff;
