$component-width: 100%;
$component-bg-color: #ffffff;
$components-header-border-color: #d3d3d3;
$margin-container: 1em auto 0.5em auto;
$gap-size: 1.2em;
$header-height: 70px;

$danger-color: #ff3d71;
$warning-color: #ffaa00;
$success-color: #00d68f;
$primary-color: #36f;
$info-color: #42aaff;
