.my-container {
  width: 100%;
  margin: 0 auto;
}
.my-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.2em;
}

.c-1 {
  grid-column: span 1;
}
.c-2 {
  grid-column: span 2;
}
.c-3 {
  grid-column: span 3;
}
.c-4 {
  grid-column: span 4;
}
.c-5 {
  grid-column: span 5;
}
.c-6 {
  grid-column: span 6;
}
.c-7 {
  grid-column: span 7;
}
.c-8 {
  grid-column: span 8;
}
.c-9 {
  grid-column: span 9;
}
.c-10 {
  grid-column: span 10;
}
.c-11 {
  grid-column: span 11;
}
.c-12 {
  grid-column: span 12;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .c-sm-1 {
    grid-column: span 1;
  }
  .c-sm-2 {
    grid-column: span 2;
  }
  .c-sm-3 {
    grid-column: span 3;
  }
  .c-sm-4 {
    grid-column: span 4;
  }
  .c-sm-5 {
    grid-column: span 5;
  }
  .c-sm-6 {
    grid-column: span 6;
  }
  .c-sm-7 {
    grid-column: span 7;
  }
  .c-sm-8 {
    grid-column: span 8;
  }
  .c-sm-9 {
    grid-column: span 9;
  }
  .c-sm-10 {
    grid-column: span 10;
  }
  .c-sm-11 {
    grid-column: span 11;
  }
  .c-sm-12 {
    grid-column: span 12;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .c-md-1 {
    grid-column: span 1;
  }
  .c-md-2 {
    grid-column: span 2;
  }
  .c-md-3 {
    grid-column: span 3;
  }
  .c-md-4 {
    grid-column: span 4;
  }
  .c-md-5 {
    grid-column: span 5;
  }
  .c-md-6 {
    grid-column: span 6;
  }
  .c-md-7 {
    grid-column: span 7;
  }
  .c-md-8 {
    grid-column: span 8;
  }
  .c-md-9 {
    grid-column: span 9;
  }
  .c-md-10 {
    grid-column: span 10;
  }
  .c-md-11 {
    grid-column: span 11;
  }
  .c-md-12 {
    grid-column: span 12;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .c-lg-1 {
    grid-column: span 1;
  }
  .c-lg-2 {
    grid-column: span 2;
  }
  .c-lg-3 {
    grid-column: span 3;
  }
  .c-lg-4 {
    grid-column: span 4;
  }
  .c-lg-5 {
    grid-column: span 5;
  }
  .c-lg-6 {
    grid-column: span 6;
  }
  .c-lg-7 {
    grid-column: span 7;
  }
  .c-lg-8 {
    grid-column: span 8;
  }
  .c-lg-9 {
    grid-column: span 9;
  }
  .c-lg-10 {
    grid-column: span 10;
  }
  .c-lg-11 {
    grid-column: span 11;
  }
  .c-lg-12 {
    grid-column: span 12;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .c-xl-1 {
    grid-column: span 1;
  }
  .c-xl-2 {
    grid-column: span 2;
  }
  .c-xl-3 {
    grid-column: span 3;
  }
  .c-xl-4 {
    grid-column: span 4;
  }
  .c-xl-5 {
    grid-column: span 5;
  }
  .c-xl-6 {
    grid-column: span 6;
  }
  .c-xl-7 {
    grid-column: span 7;
  }
  .c-xl-8 {
    grid-column: span 8;
  }
  .c-xl-9 {
    grid-column: span 9;
  }
  .c-xl-10 {
    grid-column: span 10;
  }
  .c-xl-11 {
    grid-column: span 11;
  }
  .c-xl-12 {
    grid-column: span 12;
  }
}
